#container {
  border: 2px solid;
}

/*
   = descendant
 > = child
 ~ = general sibling
 + = adjacent sibling
*/

#container + p {
  background-color: yellow;
}

.hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  width: 200px;
  height: 100px;
  font-size: 1.1em;
  background-color: lightgreen;
}

.button:hover {
  font-size: 1.1em;
  background-color: lightblue;
}

.button:active {
  font-size: 3em;
  background-color: tomato;
}

a:link {
  color: lightblue;
}

a:hover {
  color: lightblue;
  font-size: 1.1em;
}

a:active {
  font-size: 0.9em;
  color: tomato;
}

a:visited {
  font-size: 0.9em;
  color: purple;
}

li:hover {
  background-color: yellow;
}

li:not(:hover) {
  background-color: lightgoldenrodyellow;
}

li:nth-child(4n) {
  background-color: aquamarine;
}

#greeting p {
  background-color: lightblue;
  padding: 10px;
  display: none;
}

#greeting:hover p {
  display: block;
}

h1::first-letter {
  font-size: 2em;
  font-style: italic;
}

.text p::first-line {
  background-color: aquamarine;
}

.text p::selection {
  background-color: darkgray;
  color: aliceblue;
}

#fruit li::before {
  content: ":0 ";
}

#aple::after {
  content: " -5";
}
#orange::after {
  content: " -15";
}
#banana::after {
  content: " -10";
}

#fruit li::marker {
  content: "check ";
  font-size: 1.2em;
}

.pagination {
  text-align: center;
}
.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.pagination a.active {
  background-color: aquamarine;
  font-weight: bold;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: lightgray;
  border-radius: 5px;
}
